body{
  background-image: url(BoisNoir.jpg);
}
h1{
  margin-top: 1px 0;
  text-align: center;
  font-size: 34px;
  color :#000951;
  height: auto;
  width: 550px;
  border: 2px solid black;
  border-bottom-left-radius: 150px 50px;
  border-bottom-right-radius: 150px 50px;
  background-image: linear-gradient(#343434, grey,silver,white);
  display: block;
  margin-top: 0px;
  margin-left: 35%
}
h2 , p{
  font-size: 26px;
  color: orange;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}
#Compétence1{
  height: 30px;
  border: 2px solid black;
  background-image: linear-gradient(to right,#a50000 ,#ff0000 ,#064b00 ,white 65%);
  width: 300px;
  text-align: right;
  font-size: 25px;
}
p{
  font-size: 23px;
  padding: 3px;
}
#Compétence2{
  height: 30px;
  border: 2px solid black;
  background-image: linear-gradient(to right, #a50000 , #ff0000 ,#ffffff , white 70%);
  width: 300px;
  text-align: right;
  font-size: 25px
}
#Compétence3{
  height: 30px;
  border: 2px solid black;
  background-image: linear-gradient(to right,#a50000 ,#ff0000 ,#064b00 , white 65%);
  width: 300px;
  text-align: right;
  font-size: 25px
}
#Compétence4{
  height: 30px;
  border: 2px solid black;
  background-image: linear-gradient(to right,#a50000 ,#ff0000 ,#007a25 ,white 70%);
  width: 300px;
  text-align: right;
  font-size: 25px
}
#Compétence5{
  height: 30px;
  border: 2px solid black;
  background-image: linear-gradient(to right,#a50000 , #ff0000 ,#064b00 ,#00c83d ,white 75%);
  width: 300px;
  text-align: right;
  font-size: 25px
}
#Compétence6{
  height: 30px;
  border: 2px solid black;
  background-image: linear-gradient(to right,#a50000 ,#ff0000 ,#064b00 ,white 65%);
  width: 300px;
  text-align: right;
  font-size: 25px;
}
ul {
  background-color: silver;
  padding: 5px;
  width: 30%;
  height: auto;
  border: 2px solid black;
  font-size: 26px;
  margin-left: 35%;
}
li{
  margin-left: 65px;
  font-size: 23px;
}
#menu{
  padding: 0;
  margin: 0;
  width: auto;
  background-image: linear-gradient(white,silver,grey, #343434 );
  border-top-left-radius: 15px 15px;
  border-bottom-left-radius: 15px 15px;
  border-top-right-radius:15px 15px;
  border-bottom-right-radius: 15px 15px;
}
#menu li{
  display: inline;
  list-style: none;
}
#menu a{
  display: inline-block;
  margin: 0 30px;
  padding-left: 3%
}
img{
  max-width: 75px;
  max-width: 75px;
}
#Compétence7{
  height: 30px;
  border: 2px solid black;
  background-image: linear-gradient(to right,#a50000,#064b00 , #003de0 ,white );
  width: 300px;
  text-align: right;
  font-size: 25px;
}
#Compétence8{
  height: 30px;
  border: 2px solid black;
  background-image: linear-gradient(to right,#a50000,#064b00,#00c83d,white 78%);
  width: 300px;
  text-align: right;
  font-size: 25px;
}
